<%= form_for @user, url: edit_user_path(@user.slug) do |f| %>
	<%= render "form", { f: f } %>
	<br>
	<%= f.submit "Update User" %>
<% end %>
<div class="bottom-anchor">
	<%= link_to "Delete Account", delete_user_path(@user.slug) %>
</div>
