<div class="user-display-wrapper">
	<h1><%= @user.username %></h1>
	<%= link_to "#{@user.username}'s Posts", users_posts_path(@user.slug) %>
	<% @user.languages.each do |language| %>
		<%= link_to language.name, root_path, class: "language" %>
		<% unless language == @user.languages.last %>
			<br>
		<% end %>
	<% end %>
</div>
