<div class="home-header">
	<h1>Code-Note</h1>
	<% if logged_in? %>
		<a href="/signout">Sign Out</a>
	<% else %>
		<a href="/users/new">Create Account</a>
		<a href="/signin">Sign In</a>
	<% end %>
</div>
