<%= form_for @post, url: edit_users_post_path(@post.user.slug, @post) do |f| %>
	<%= render "form", { f: f } %>
	<br>
	<%= f.submit "Update Post" %>
<% end %>
<div class="remove">
	<%= link_to "Remove Post", delete_users_post_path(@post.user.slug, @post) %>
</div>
