<% @posts.each do |post| %>
	<div class="display-wrapper">
		<p><%= post.language.name %> - <%= post.title %></p>
		<p class="content"><%= post.content %></p>
		<p class="description"><%= post.description %></p>
	</div>
<% end %>
