<% @posts.each do |post| %>
	<div class="display-wrapper">
		<p><%= post.language.name %> - <%= post.title %></p>
		<pre class="content"><%= post.content %></pre>
		<pre><%= post.description %></pre>
	</div>
<% end %>
