<% @posts.each do |post| %>
	<div class="display-wrapper">
		<p><%= post.language.name %> - <%= post.title %></p>
		<%= simple_format post.content, class: "content" %>
		<%= simple_format post.description, class: "description" %>
	</div>
<% end %>
