.home-header {
	overflow: hidden;
	margin: 0 auto;
	background-color: #fff;
}

.home-header h1 {
	text-align: center;
	color: #000;
	text-shadow: 5px 5px 5px #000;
}

.home-header a {
	margin-left: 5px;
}
