@import "https://fonts.googleapis.com/css?family=Orbitron&display=swap";
@import "https://fonts.googleapis.com/css?family=Fugaz+One&display=swap";

body {
	margin: 10px;
}

/*header styles*/
.layout-header {
	overflow: hidden;
	border-bottom: solid #9b9b9b;
}

.layout-header h1 {
	margin: 0;
	text-align: center;
	font-size: 4em;
	font-family: "Orbitron", sans-serif;
	color: #9b9b9b;
	text-shadow: 2px 2px #fff, 3px 3px #000;
}

.layout-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.layout-header ul li {
	display: inline;
}

.layout-header ul li a {
	margin-left: 5px;
	text-decoration: none;
	font-family: "Fugaz One", cursive;
	color: #000;
}

.layout-header ul li a.right {
	margin-right: 5px;
	float: right;
}

.layout-header ul li a:hover {
	color: #9b9b9b;
}

/*form styles*/
.input-wrapper {
	display: block;
	clear: both;
	margin-top: 10px;
}

.input-wrapper + br {
	display: none;
}

label {
	font-family: "Orbitron", sans-serif;
}

select {
	box-shadow: 3px 3px #9b9b9b;
}

input {
	box-shadow: 3px 3px #9b9b9b;
}

input[type="submit"] {
	margin-top: 10px;
	background-color: #fff;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	height: 250px;
	box-shadow: 3px 3px #9b9b9b;
}

.field_with_errors {
	display: block;
	clear: both;
}

.field_with_errors + br {
	display: none;
}

.field_with_errors input {
	border-color: #ff0000;
}

.field_with_errors label {
	color: #ff0000;
}

/*display styles*/
.home p {
	font-family: "Fugaz One", cursive;
	border-bottom: 1px solid #9b9b9b;
}

.home p a {
	margin-right: 5px;
	float: right;
	text-decoration: none;
	color: #000;
}

.home p a:hover {
	color: #9b9b9b;
}

.user-display-wrapper {
	margin-top: 10px;
}

.user-display-wrapper h1 {
	margin: 10px 0 0 0;
	font-family: "Orbitron", sans-serif;
	color: #0000ff;
	text-shadow: 2px 2px #000;
}

.user-display-wrapper a {
	text-decoration: none;
	font-family: "Fugaz One", cursive;
	color: #000;
}

.user-display-wrapper a:hover {
	color: #9b9b9b;
}

.user-display-wrapper a.language {
	float: right;
	margin-right: 5px;
	font-family: "Orbitron", sans-serif;
}

.post-display-wrapper {
	overflow-y: hidden;
	margin-top: 10px;
	border: 1px solid #000;
	background-color: #ffffff;
	box-shadow: 3px 3px #9b9b9b;
}

.post-display-wrapper p {
	margin: 5px;
	font-family: "Fugaz One", cursive;
	border-bottom: 1px solid #9b9b9b;
}

.post-display-wrapper p a {
	float: right;
	text-decoration: none;
	color: #000;
}

.post-display-wrapper p a:hover {
	color: #9b9b9b;
}

.post-display-wrapper pre {
	margin: 5px;
	font-family: monospace;
	border-bottom: 1px solid #9b9b9b;
}

.post-display-wrapper pre:last-child {
	margin-bottom: 5px;
	border: none;
}

.post-display-wrapper pre.content {
	color: #0000ff;
}
