@import "https://fonts.googleapis.com/css?family=Orbitron&display=swap";
@import "https://fonts.googleapis.com/css?family=Fugaz+One&display=swap";

body {
	margin: 10px;
}

.layout-header {
	overflow: hidden;
	border-bottom: solid #9b9b9b;
}

.layout-header h1 {
	margin: 0;
	text-align: center;
	font-size: 4em;
	font-family: "Orbitron", sans-serif;
	color: #9b9b9b;
	text-shadow: 2px 2px #fff, 3px 3px #000;
}

.layout-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.layout-header ul li {
	display: inline;
}

.layout-header ul li a {
	margin-left: 5px;
	text-decoration: none;
	font-family: "Fugaz One", cursive;
	color: #000;
}

.layout-header ul li a.right {
	margin-right: 5px;
	float: right;
}

.layout-header ul li a:hover {
	color: #9b9b9b;
}

.input-wrapper {
	display: block;
	clear: both;
	margin-top: 10px;
}

.input-wrapper + br {
	display: none;
}

label {
	font-family: "Orbitron", sans-serif;
}

input[type="submit"] {
	margin-top: 10px;
	background-color: #fff;
}

.field_with_errors {
	display: block;
	clear: both;
}

.field_with_errors + br {
	display: none;
}

.field_with_errors input {
	border-color: #ff0000;
}

.field_with_errors label {
	color: #ff0000;
}
